
<div class="separacion">
  <h1>UT3: Parte 1</h1>
  <div>
    <h2>Ejercicio 1</h2>
    <app-fecha-hora-component></app-fecha-hora-component>
  </div>
  <div>
    <h2>Ejercicio 2</h2>
    <app-numero-aleatorio-component></app-numero-aleatorio-component>
  </div>
  <div>
    <h2>Ejercicio 3</h2>
    <app-historial></app-historial>
  </div>
  <div>
    <h2>Ejercicio 4</h2>
    <app-ventana></app-ventana>
  </div>
  <div>
    <h2>Ejercicio 5</h2>
    <app-ventana-en-movimiento></app-ventana-en-movimiento>
  </div>
  <div>
  <h2>Ejercicio 6</h2>
    <app-cookies></app-cookies>
  </div>
</div>

<router-outlet />


